[#if OK#]
        <div class="alert alert-success"><#LANG_DATA_SAVED#></div>
[#endif OK#]

[#if ERR#]
        <div class="alert alert-danger">Ошибка выполнения команды!</div>
[#endif ERR#]

[#if VIEW_MODE="emphasis_import"#]
        <form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal" style="margin-left: 15px;">
                <fieldset>
                        <h2><small>Импорт словаря ударений</small></h2>
                        [#if TOTAL#]
                                <div class="alert alert-success"><#LANG_STRING_SUCCESS#></div>
                                <div class="alert alert-success">Всего импортировано: [#TOTAL#]</div>
                        [#endif TOTAL#]
                        <div class="form-group">
                                <label>Файл словаря:</label>
                                <div><input type="file" name="file"></div>
                                <span class="help-block" style="margin: 20px 0 10px 0;">
                                        Формат файла (текстовый, unicode, каждая запись с новой строки):
                                        <p style="margin: 10px;">слово_для_поиска : слово_для_замены : учитывать_регистр</p>
                                        <table>
                                                <tr>
                                                        <td width="150"><i>слово_для_поиска</i></td>
                                                        <td width="20">-</td>
                                                        <td>любая последовательность символов, кроме двоеточия (используйте код &amp;&#35;58&#59; для его замены);</td>
                                                </tr>
                                                <tr>
                                                        <td width="150"><i>слово_для_замены</i></td>
                                                        <td width="20">-</td>
                                                        <td>любая последовательность символов, кроме двоеточия (используйте код &amp;&#35;58&#59; для его замены);</td>
                                                </tr>
                                                <tr>
                                                        <td width="150"><i>учитывать_регистр</i></td>
                                                        <td width="20">-</td>
                                                        <td>числовое значение (1 - учитывать, 0 - не учитывать);</td>
                                                </tr>
                                                <tr>
                                                        <td width="150"><i>разделитель</i></td>
                                                        <td width="20">-</td>
                                                        <td>двоеточие.</td>
                                                </tr>
                                        </table>
                                </span>
                        </div>
                        <div class="form-group">
                                <button type="submit" name="subm" value="Submit" class="btn btn-primary"><#LANG_ADD#></button>
                                <a href="?" class="btn btn-default"><#LANG_CANCEL#></a>
                                <input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
                                <input type="hidden" name="edit_mode" value="<#EDIT_MODE#>">
                                <input type="hidden" name="mode" value="update">
                        </div>
                </fieldset>
        </form>
[#else VIEW_MODE#]
        <div id="api_settings" style="padding: 10px;">
                <form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
                        <fieldset>
                                <div class="form-group">
                                        <label class="control-label">Авторизация по OAUTH + FolderID</label>
                                        <input type="checkbox" name="new_auth" value="checked" onclick="showMe(this)" [#NEW_AUTH#]>
                                </div>
                                <div class="form-group apikey" [#if NEW_AUTH=="checked"#]style="display:none"[#endif#]>
                                        <label class="control-label"> Yandex API key: (*)</label>
                                        <div class="col-lg-6"><input type="text" class="form-control" name="access_key" value="[#ACCESS_KEY#]" class="input"></div>
                                </div>
                                <div class="form-group oauth" [#if NEW_AUTH!="checked"#]style="display:none"[#endif#]>
                                        <label class="control-label"> Yandex OAUTH: (*)</label>
                                        <div class="col-lg-6"><input type="text" class="form-control" name="oauth" value="[#OAUTH#]" class="input"></div>
                                </div>
                                <div class="form-group oauth" [#if NEW_AUTH!="checked"#]style="display:none"[#endif#]>
                                        <label class="control-label"> Yandex FolderID: (*)</label>
                                        <div class="col-lg-6"><input type="text" class="form-control" name="folderID" value="[#FOLDERID#]" class="input"></div>
                                </div>
                                <div class="form-group">
                                        <label class="control-label"> Выберите голос:</label>
                                        <div class="col-lg-6">
                                                <select class="form-control" name="speaker">
                                                        <optgroup label="Женские голоса">
                                                                <option value="jane" [#if SPEAKER=="jane"#] selected[#endif#]>jane</option>
                                                                <option value="oksana" [#if SPEAKER=="oksana"#] selected[#endif#]>oksana</option>
                                                                <option value="alyss" [#if SPEAKER=="alyss"#] selected[#endif#]>alyss</option>
                                                                <option value="omazh"[#if SPEAKER=="omazh"#] selected[#endif#]>omazh</option>
                                                                <option value="silaerkan"[#if SPEAKER=="silaerkan"#] selected[#endif#]>silaerkan</option>
                                                                <option value="nastya"[#if SPEAKER=="nastya"#] selected[#endif#]>nastya</option>
                                                                <option value="sasha"[#if SPEAKER=="sasha"#] selected[#endif#]>sasha</option>
                                                                <option value="tanya"[#if SPEAKER=="tanya"#] selected[#endif#]>tanya</option>
                                                                <option value="tatyana_abramova"[#if SPEAKER=="tatyana_abramova"#] selected[#endif#]>tatyana_abramova</option>
                                                                <option value="voicesearch"[#if SPEAKER=="voicesearch"#] selected[#endif#]>voicesearch</option>
                                                                <option value="zombie"[#if SPEAKER=="zombie"#] selected[#endif#]>zombie</option>
                                                        </optgroup>
                                                        <optgroup label="Мужские голоса">
                                                                <option value="zahar" [#if SPEAKER=="zahar"#] selected[#endif#]>zahar</option>
                                                                <option value="ermil" [#if SPEAKER=="ermil"#] selected[#endif#]>ermil</option>
                                                                <option value="levitan" [#if SPEAKER=="levitan"#] selected[#endif#]>levitan</option>
                                                                <option value="ermilov" [#if SPEAKER=="ermilov"#] selected[#endif#]>ermilov</option>
                                                                <option value="kolya" [#if SPEAKER=="kolya"#] selected[#endif#]>kolya</option>
                                                                <option value="kostya" [#if SPEAKER=="kostya"#] selected[#endif#]>kostya</option>
                                                                <option value="nick" [#if SPEAKER=="nick"#] selected[#endif#]>nick</option>
                                                                <option value="erkanyavas" [#if SPEAKER=="erkanyavas"#] selected[#endif#]>erkanyavas</option>
                                                                <option value="zhenya" [#if SPEAKER=="zhenya"#] selected[#endif#]>zhenya</option>
                                                                <option value="anton_samokhvalov" [#if SPEAKER=="anton_samokhvalov"#] selected[#endif#]>anton_samokhvalov</option>
                                                                <option value="ermil_with_tuning" [#if SPEAKER=="ermil_with_tuning"#] selected[#endif#]>ermil_with_tuning</option>
                                                                <option value="robot" [#if SPEAKER=="robot"#] selected[#endif#]>robot</option>
                                                                <option value="dude" [#if SPEAKER=="dude"#] selected[#endif#]>dude</option>
                                                                <option value="smoky" [#if SPEAKER=="smoky"#] selected[#endif#]>smoky</option>
                                                        </optgroup>
                                                </select>
                                        </div>
                                </div>
                                <div class="form-group">
                                        <label class="control-label">Эмоциональная окраска голоса:</label>
                                        <div class="col-lg-6">
                                                <select class="form-control" name="emotion">
                                                        <option value="good" [#if EMOTION=="good"#] selected[#endif#]>радостный, доброжелательный</option>
                                                        <option value="evil" [#if EMOTION=="evil"#] selected[#endif#]>раздраженный</option>
                                                        <option value="neutral" [#if EMOTION=="neutral"#] selected[#endif#]>нейтральный</option>
                                                </select>
                                        </div>
                                </div>
                                <div class="form-group">
                                        <label class="control-label">Использовать словарь ударений:</label>
                                        <div class="col-lg-6">
                                                <input type="radio" name="emphasis" value="1"[#if EMPHASIS=="1"#] checked[#endif#]><#LANG_ON#>
                                                <input type="radio" name="emphasis" value="0"[#if EMPHASIS!="1"#] checked[#endif#]><#LANG_OFF#>
                                        </div>
                                </div>
                                <div class="form-group">
                                        <label class="control-label"> <#LANG_VALUE#>: (*)</label>
                                        <div class="col-lg-6">
                                                <input type="radio" name="disabled" value="0"[#if DISABLED!="1"#] checked[#endif#]><#LANG_ON#>
                                                <input type="radio" name="disabled" value="1"[#if DISABLED=="1"#] checked[#endif#]><#LANG_OFF#>
                                        </div>
                                </div>
                                <div class="form-actions">
                                        <button type="submit" name="subm" value="Submit" class="btn btn-primary"><#LANG_UPDATE#></button>
                                        <input type="hidden" name="view_mode" value="update_settings">
                                        <input type="hidden" name="mode" value="update">
                                        <a href="?view_mode=clear_cache" class="btn btn-default">Очистить кэш</a>
                                </div>
                        </fieldset>
                </form>
                <style>
                        #emphasis_panel {
                                border: #ddd solid 1px;
                                margin-top: 25px;
                                text-align: center;
                                padding: 5px;
                                background-color: #f5f5f5;
                                border-top-left-radius: 10px;
                                border-top-right-radius: 10px;
                        }
                        #emphasis_panel a:focus {
                                outline: none;
                        }
                        #emphasis_list {
                                text-align: center;
                                border: #ddd solid 1px;
                                padding-top: 20px;
                                display: none;
                        }
                        #emphasis_list p {
                                margin: 10px 0 10px 0;
                        }
                        #emphasis_list form {
                                padding: 10px 50px 20px 50px;
                        }
                        #emphasis_list form table {
                                width: 100%;
                        }
                        #emphasis_list form table tr {
                                border: #ddd solid 1px;
                        }
                        #emphasis_list form table tr.tbl_header {
                                background-color: #f5f5f5;
                        }
                        tr.tbl_header th, tr.tbl_header td {
                                text-align: center;
                        }
                        th.tbl_actions, td.tbl_actions {
                                width: 100px;
                        }
                        th.td_case, td.td_case {
                                width: 75px;
                        }
                        th.td_search_str, td.td_search_str {
                                text-align: left;
                                padding-left: 5px;
                        }
                        th.td_replace_str, td.td_replace_str {
                                text-align: left;
                                padding-left: 5px;
                        }
                        tr.tbl_item:hover {
                                background-color: #eee;
                        }
                </style>
                <div id="emphasis_panel">
                        <b>[<a href="#" id="emphasis_list_toggle" onclick="return emphasis_list_toggle();">Показать/Скрыть словарь ударений</a>]</b>
                </div>
                <div id="emphasis_list">
                        <a href="?view_mode=emphasis_clear" class="btn btn-danger" onclick="return confirm('Вы действительно хотите удалить все записи из словаря ударений?');">Очистить словарь</a>
                        <a href="?view_mode=emphasis_import" class="btn btn-default">Импорт словаря</a>
                        <a href="?view_mode=emphasis_export" class="btn btn-default">Экспорт словаря</a>
                        <p><i>Для принудительной установки ударения используйте символ + (плюс) перед гласной ударной буквой.</i></p>
                        <form action="?" method="post" enctype="multipart/form-data" name="frmWrdfix" class="form-horizontal">
                                <table>
                                        <tr class="tbl_header">
                                                <th>Строка для поиска</th>
                                                <th>Строка для замены</th>
                                                <th class="td_case">Регистр</th>
                                                <th class="tbl_actions">&nbsp;</th>
                                        </tr>
                                        <tr class="tbl_header">
                                                <td><input type="text" name="search_str" placeholder="Пример: &laquo;загружена&raquo;" class="form-control"></td>
                                                <td><input type="text" name="replace_str" placeholder="Пример: &laquo;загр+ужена&raquo;" class="form-control"></td>
                                                <td><input type="checkbox" name="case" value="1" title="Учитывать регистр"></td>
                                                <td class="tbl_actions"><button type="submit" name="subm" value="Submit" class="btn btn-primary">Сохранить</button></td>
                                        </tr>
                                        [#begin EMPHASIS_LIST#]
                                        <tr class="tbl_item">
                                                <td class="td_search_str">[#search_str#]</td>
                                                <td class="td_replace_str">[#replace_str#]</td>
                                                <td class="td_case">[#if case=="1"#]<i class="glyphicon glyphicon-ok"></i>[#endif#]</td>
                                                <td class="tbl_actions">
                                                        <a href="#" onclick="return emphasis_edit(this);" title="Изменить"><span class="glyphicon glyphicon-pencil"></span></a>
                                                        &nbsp;
                                                        <a href="?view_mode=delete_emphasis&id=[#ID#]" onclick="return confirm('Вы уверены? Пожалуйста, подтвердите операцию.')" title="Удалить"><span class="glyphicon glyphicon-remove"></span></a>
                                                </td>
                                        </tr>
                                        [#end EMPHASIS_LIST#]
                                </table>
                                <input type="hidden" name="view_mode" value="add_emphasis">
                        </form>
                        <script type="text/javascript">
                                function showMe (box) {
                                        var vis = (box.checked) ? "block" : "none";
                                        var vis2 = (box.checked) ? "none" : "block";
                                        $('.oauth').css("display", vis);
                                        $('.apikey').css("display", vis2);
                                }

                                $(document).ready(function() {
                                        if(getCookie('emphasis_list_show') == 'true') {
                                                $('#emphasis_list_toggle').click();
                                        }
                                });
                                function emphasis_list_toggle() {
                                        $('#emphasis_list').slideToggle(500, 'swing', function() {
                                                setCookie('emphasis_list_show', $(this).is(':visible'));
                                        });
                                        return false;
                                }
                                function emphasis_edit(obj) {
                                        var tr = $(obj).closest('tr');
                                        var search_str = $(tr).find('td.td_search_str').text();
                                        var replace_str = $(tr).find('td.td_replace_str').text();
                                        var case_html = $(tr).find('td.td_case').html();
                                        $('input[name=search_str]').val(search_str);
                                        $('input[name=replace_str]').val(replace_str);
                                        if(case_html.length > 0) {
                                                $('input[name=case]').prop('checked', true);
                                        }
                                        return false;
                                }
                        </script>
                </div>
        </div>
[#endif VIEW_MODE#]
